body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
    
}
html * {
    font-family: 'Inter', sans-serif;
    /* font-size: calc(15px + 0.390625vw); */
    scroll-behavior: smooth;
}
*, *::before, *::after {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}
:root {
    --moon-purple: #7269af;
    --cloud-blue: #b9d8e8;
    --sun-yellow: #f5ce42;
    --lightning: #d86837;
    --bar-dark: #595959;
    --bar-medium: #7F7F7F;
    --bar-moderate: #A5A5A5;
    --bar-light: #CCCCCC;
    --bar-lightGray: #E7ECEF;
    --bar-moderateGray: #C5C3C6;
    --bar-heavyGray: #8B8C89;
    --bar-heavyBlue: #274C77;
    --bar-moderateBlue: #6096BA;
    --bar-lightBlue: #A3CEF1;
    --bar: rgb(209, 202, 202);
    --base: #000000;
}
.App {
    background: hsla(232, 73%, 65%, 1);
    /* background-color: rgba(0 , 0, 0, 0.3); */
    background: linear-gradient(90deg, hsla(232, 73%, 65%, 1) 0%, hsla(279, 33%, 48%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(232, 73%, 65%, 1) 0%, hsla(279, 33%, 48%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(232, 73%, 65%, 1) 0%, hsla(279, 33%, 48%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#6274e7", endColorstr="#8752a3", GradientType=1 );
}
